@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Ubuntu+Condensed');

body {
    margin: 0px 0px;
    width: 650px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 16px;
    overflow-y: scroll;
}

.print_wrap {
    position: relative;
    float: left;
    width: 650px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    margin-left: 20px;
}

#legend {
    position: relative;
    float: left;
    width: 650px;
    height: 17px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #404040;
    border-bottom: 5px solid #404040;
    color: #505050;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    background-color: darkseagreen;
}

#tag {
    position: relative;
    float: left;
    width: 19px;
    border-right: 1px solid #404040;
    height: 17px;
}

#taetigkeit {
    position: relative;
    float: left;
    width: 550px;
    border-right: 1px solid #404040;
    height: 17px;
}

#zeit {
    position: relative;
    float: left;
    width: 39px;
    border-right: 1px solid #404040;
    height: 17px;
}

#gesamt {
    position: relative;
    float: left;
    width: 39px;
    height: 17px;
}


.table_wrap {
    position: relative;
    float: left;
    width: 650px;
    min-height: 85px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
    background-color: #ffffff;
    color: #606060;
    font-size: 12px;
    border: 1px solid gray;
    text-align: center;
}

.table_weekday {
    position: absolute;
    width: 19px;
    height: calc(100% - 3px);
    padding-top: 3px;
    border-right: 1px solid #404040;
    background-color: #808080;
    color: white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}

.table_weekday_rotate {
    position: absolute;
    width: 85px;
    height: 19px;
    left: -33px;
    top: 35px;
    text-align: right;
    transform: rotateZ(-90deg);
}

.table_task {
    display: flex;
    position: relative;
    float: left;
    left: 20px;
    width: calc(100% - 60px);
}

.table_action {
    position: relative;
    float: left;
    width: calc(100% - 40px);
    border-bottom: 1px solid #707070;
}

.table_time {
    position: relative;
    float: left;
    width: 39px;
    text-align: center;
    border-left: 1px solid #707070;
    border-bottom: 1px solid #707070;
}

.table_right_wrap {
    position: absolute;
    width: 39px;
    height: 100%;
    left: calc(100% - 40px);
    top: 0px;
    border-left: 1px solid #404040;
    background-color: #a0a0a0;
}

.table_total {
    position: absolute;
    width: 100%;
    height: 20px;
    top: calc(100% - 20px);
}

.table_manage {
    position: absolute;
    top: 0px;
    left: 3px;
}

.manage {
    cursor: pointer;
}

.table_info {
    position: relative;
    float: left;
    width: calc(100% - 60px);
    height: 14px;
    top: calc(100% - 14px);
    left: 20px;
}

.table_date {
    position: relative;
    float: left;
    padding-left: 5px;
    padding-right: 10px;
    font-style: italic;
}

.table_cw{
    position: relative;
    float: left;
    padding-left: 5px;
    padding-right: 10px;
    font-style: italic;
}

.table_location{
    position: relative;
    float: left;
    padding-left: 5px;
    padding-right: 10px;
    font-style: italic;
}

.table_worktime {
    position: relative;
    float: right;
    padding-left: 5px;
    padding-right: 10px;
    font-style: italic;
}

.hours {
    width: 40px;
    text-align: center;
}

.view_hr {
    border-bottom: 3px solid #202020;
    border-radius: 5px;
    margin-bottom: -4px;
}

.hr_cw {
    position: absolute;
    width: 150px;
    height: 50px;
    left: 50%;
    margin-left: -75px;
    text-align: center;
    color: #000000;
    font-size: 20px;
}

hr {
    border: none;
}

p {
    color: #000;
    page-break-after: always;
}

b {
    background-color: #dddddd;
    padding-left: 5px;
    padding-right: 5px;
}

.sign {
    position: relative;
    float: left;
    width: 40%;
    margin-top: 100px;
    margin-left: 30px;
    border-top: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 100px;
    font-size: 12px;
    text-align: center;
}

.flag {
    position: relative;
    float: left;
    left: 0%;
    width: 20px;
    height: 18px;
    margin-left: - 210px;
    background-color: coral;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.term {
    position: relative;
    float: left;
    width: calc(95% - 10px);
    height: 18px;
    left: 15px;
    margin-top: 18px;
    padding-left: 5px;
    font-weight: bold;
    border-left: 5px solid #606060;
}

.description {
    position: relative;
    float: left;
    width: calc(95% - 10px);
    left: 15px;
    border: 1px solid #606060;
    padding: 5px;
    font-size: 14px;
    color: #707070;
    text-align: justify;
}

.category {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 42px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.category:after {
    content: "";
    position: absolute;
    width: calc(100% - 4px);
    height: 1px;
    left: 0px;
    border-top: 2px solid navy;
    border-bottom: 2px solid navy;
    top: calc(100% + 2px); 
}

#glossary_title {
    position: relative;
    float: left;
    width: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding-top: 14px;
    padding-bottom: 20px;
    border-bottom: 1px solid #707070;
    margin-bottom: 60px;
}

#glossary_name {
    position: relative;
    float: left;
    width: 50%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #707070;
    margin-bottom: 60px;
}