@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Ubuntu+Condensed');

@-webkit-keyframes pulse {
    0%  {
        opacity: 0.3;
		margin-left: -10px;
		margin-top: -10px;
    }
    15% {
        opacity: 0.5;
    }
    25% {
        opacity: 0.85;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.85;
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.35;
    }
}

@keyframes pulse {
    0%  {
        opacity: 0.3;
		margin-left: -2px;
		margin-top: -2px;
    }
    15% {
        opacity: 0.5;
		margin-left: -5px;
		margin-top: -10px;
    }
    25% {
        opacity: 0.85;
		margin-left: -12px;
		margin-top: -17px;
    }
    50% {
        opacity: 1;
		margin-left: -18px;
		margin-top: -20px;
    }
    75% {
        opacity: 0.85;
		margin-left: -20px;
		margin-top: -16px;
    }
    90% {
        opacity: 0.5;
		margin-left: -16px;
		margin-top: -9px;
    }
    100% {
        opacity: 0.35;
		margin-left: -5px;
		margin-top: -5px;
    }
}

body {
    margin: 0px 0px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 16px;
    color: #bbbbbb;
	background-color: #222222;
    overflow-y: scroll;
}

#wrapper {
    position: relative;
    float: left;
    width: 100%;
    min-width: 650px;
}

#bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #222222;
    /*background-image: url("../img/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;*/
	/*background: radial-gradient(ellipse at top, #570000, transparent), radial-gradient(ellipse at bottom, #230057, transparent);*/
	background: radial-gradient(ellipse at top, #100040, transparent), radial-gradient(ellipse at bottom, #202020, transparent);
}

/*#bg_lenseffect {
	position: fixed;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
	margin-left: -20px;
	margin-top: -20px;
    background-image: url("../img/lenseffect.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
	-webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}*/

#bg_lenseffect:hover {
	margin-left: 0px;
	margin-top: 0px;
}

#timetable {
	z-index: 10;
	position: fixed;
	bottom: 0px;
	width: 100px;
	height: 30px;
	overflow: hidden;
}

#timetable:hover {
	width: auto;
	height: auto;
}

#header {
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
    padding-top: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 50px;
    text-align: center;
    text-shadow: 0px 0px 5px #f0f0f0;
    font-style: italic;
}

#menu_wrapper {
    z-index: 10;
    position: fixed;
    width: 0px;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: #222222;
    transition: all 0.1s linear;
    overflow: hidden;
}

#menu_wrapper:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 100%;
    top: 0px;
    left: calc(100% - 30px);
    background: linear-gradient(to left, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%);
}
    
.menu_item_wrapper {
    position: relative;
    float: left;
    width: 162px;
    margin-left: 10px;
    margin-top: 17px;
    opacity: 0;
    transition: all 1s ease;
}

.menu_thumb {
    position: relative;
    width: 180px;
    height: 30px;
    background-color: #151515;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px auto;
	border-top: #101010;
	border-bottom: #202020;
}

.menu_thumb:hover {
    background-color: #353535;
}
    
.menu_thumb:after,
.menu_thumb:before {
    background: #222222;
    content: '';
    height: 30px;
    position: absolute;
    width: 50px;
}
    
.menu_thumb:before {
    transform: rotate(-45deg);
    top: -8px;
    left: -22px;
}
    
.menu_thumb:after {
    left: calc(100% - 30px);
    top: calc(100% - 20px);
    transform: rotate(135deg);
}
    
.menu_name {
    position: relative;
    float: left;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    color: gray;
    text-shadow: 0px 1px 0px #000000;
}
    
#menu_close {
    z-index: 9;
    position: fixed;
    width: 50px;
    height: 50px;
    left: 5px;
    background-image: url("../img/menu.png");
    background-position: cover;
    background-repeat: no-repeat;
	transition: all 0.1s linear;
    cursor: pointer;
}

#bglayer {
    z-index: 8;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    background-image: url("../img/watermark.png");
    background-size: 200px 200px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.1s linear;
    opacity: 0;
}

#root_wrap {
    position: relative;
    float: left;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
}

.content_wrap {
    position: relative;
    float: left;
    width: 650px;
    left: 50%;
    transform: translateX(-50%);
}

.box {
    background-color: rgba(255,255,255,0.05);
    color: #606060;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-top: 1px solid #404040;
    border-bottom: 1px solid #101010;
    border-radius: 10px;
    box-shadow: inset 0px 0px 2px 1px #202020;
    text-shadow: 0px 1px 0px #000000;
    background-color: #303030;
}

#results {
    color: gray;
    font-style: italic;
    font-size: 20px;
    text-shadow: 0px -1px 0px black;
    font-weight: bold;
    letter-spacing: 2px;
}

.table_wrap {
    position: relative;
    float: left;
    width: 633px;
    min-height: 70px;
    left: 50%;
    transform: translateX(-50%) scale(1);
    margin-bottom: 5px;
    background-color: lightgray !important;
    text-shadow: none !important;
    color: #303030;
    font-size: 12px;
    font-family: 'Roboto Condensed', sans-serif;
    border: 1px solid gray;
    transition: all 0.1s linear;
}

.table_weekday {
    position: absolute;
    width: 16px;
    height: calc(100% - 3px);
    padding-top: 3px;
    border-right: 1px solid gray;
    background-color: gray;
    color: lightgray;
    font-size: 12px;
    letter-spacing: 1px;
}

.table_weekday_rotate {
    position: absolute;
    width: 85px;
    height: 19px;
    left: -33px;
    top: 35px;
    text-align: right;
    transform: rotateZ(-90deg);
}

.table_task {
    display: flex;
    position: relative;
    float: left;
    left: 17px;
    width: calc(100% - 57px);
}

.table_action {
    position: relative;
    float: left;
    width: calc(100% - 40px);
    border-bottom: 1px solid #707070;
}

.table_time {
    position: relative;
    float: left;
    width: 39px;
    text-align: center;
    border-left: 1px solid #707070;
    border-bottom: 1px solid #707070;
}

.table_right_wrap {
    position: absolute;
    width: 39px;
    height: 100%;
    left: calc(100% - 40px);
    top: 0px;
    border-left: 1px solid gray;
    background-color: gray;
}

.table_total {
    position: absolute;
    width: 100%;
    height: 20px;
    top: calc(100% - 20px);
    color: lightgray;
}

.table_manage {
    position: absolute;
    top: 0px;
    left: 3px;
}

.manage {
    cursor: pointer;
}

.remove {
    position: relative;
    float: left;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    text-align: center;
}

.table_info {
    position: relative;
    float: left;
    width: calc(100% - 57px);
    height: 14px;
    top: calc(100% - 14px);
    left: 17px;
}

.table_date {
    position: relative;
    float: left;
    padding-left: 5px;
    padding-right: 10px;
    font-style: italic;
    background-color: rgba(0,0,0,0.2);
}

.table_cw{
    position: relative;
    float: left;
    padding-left: 5px;
    padding-right: 10px;
    font-style: italic;
    background-color: rgba(0,0,0,0.2);
}

.table_location{
    position: relative;
    float: left;
    padding-left: 5px;
    padding-right: 10px;
    font-style: italic;
    background-color: rgba(0,0,0,0.2);
}

.table_worktime {
    position: relative;
    float: right;
    padding-left: 5px;
    padding-right: 10px;
    font-style: italic;
    background-color: rgba(0,0,0,0.2);
}

.view_hr {
    position: relative;
    float: left;
    width: calc(100% + 50px);
    height: 22px;
    background-color: #202020;
    margin-bottom: 20px;
	margin-left: -25px;
	box-shadow: inset 0px 0px 2px 1px #505050;
}

.hr_cw {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    margin-top: 9px;
    margin-left: -25px;
    color: #909090;
    font-size: 19px;
    text-shadow: 0px -1px 0px #101010;
}

#new {
    background-color: lightgray;
    color: #000;
    padding-bottom: 15px;
}

input::-webkit-input-placeholder {
    color: #505050;
}
 
input:-moz-placeholder {
    color: #505050;  
}
 
input::-moz-placeholder {
    color: #505050;  
}
 
input:-ms-input-placeholder {
    color: #505050;  
}

input[type="text"], input[type="time"], input[type="password"], input[type="number"], input[type="date"], input[type="datetime-local"] {
    background-color: #151515;
    border-top: 1px solid #101010;
    border-bottom: 1px solid #202020;
    border-left: none;
    border-right: none;
    color: #dddddd;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    outline: none;
    box-shadow: inset 0px 0px 1px 1px #202020;
}

select {
    background-color: #151515;
    border-top: 1px solid #101010;
    border-bottom: 1px solid #202020;
    border-left: none;
    border-right: none;
    color: #dddddd;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    outline: none;
    box-shadow: inset 0px 0px 1px 1px #202020;
}

textarea {
    width: 400px; 
    height: 200px;
    background-color: #151515;
    border-top: 1px solid #101010;
    border-bottom: 1px solid #202020;
    border-left: none;
    border-right: none;
    color: #dddddd;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    outline: none;
    box-shadow: inset 0px 0px 1px 1px #202020;
}

.btn {    
    background-color: #454545;
    border-top: 1px solid #303030;
    border-bottom: 1px solid #404040;
    border-left: none;
    border-right: none;
    color: #eeeeee;
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    outline: none;
    box-shadow: inset 0px 0px 1px 1px #454545;
    cursor: pointer;
}

.btn:hover {
    background-color: #505050;
    text-decoration: none;
}

input[type="checkbox"], input[type="radio"]{
    visibility: hidden;
}

input[type="checkbox"]+label, input[type="radio"]+label{
    width: 12px;
    height: 11px;
    display: inline-block;
    appearance: none;
    margin: 8px 0px 0px -20px;
    cursor: pointer;
    background-color: #242424;
    border-top: 1px solid #090909;
    border-left: none;
    border-bottom: 1px solid #444444;
    border-right: none;
    border-radius: 6px;
    outline: none;
}

input[type="checkbox"]:hover+label, input[type="radio"]:hover+label{
    background-color: #bbbbbb;
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    box-shadow: 0px 0px 8px 2px #bbbbbb;
}

input[type="checkbox"]:checked+label, input[type="radio"]:checked+label{
    background-color: #bbbbbb;
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    box-shadow: 0px 0px 8px 2px #bbbbbb;
}

#hour_counter{
    font-style: italic;
    font-size: 20px;
    color: #606060;
}

.error {
    width: 100%;
    font-style: italic;
    text-align: center;
    color: #000;
    font-size: 13px;
    text-shadow: none;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #C91C45;
}

.hours {
    width: 40px;
    text-align: center;
}

hr {
    height: 4px;
    background-color: #202020;
    border-top: 1px solid #353535;
    border-bottom: 1px solid #151515;
    border-left: none;
    border-right: none;
}

.term {
    width: 190px;
    font-weight: bold;
    font-size: 18px;
    background-color: #aaaaaa;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-shadow: none;
}

.description {
    width: calc(100% - 220px);
    margin-bottom: 40px;
    padding-left: 210px;
    padding-right: 10px;
    font-style: italic;
    text-align: justify;
    border-bottom: 1px dashed #505050;
    font-size: 14px;
}

.red {
    color: crimson;
    display: inline;
}
